.groove {
    border-style: groove;
    background-color: lightblue;
    padding: 20px;
}
.border1{
    border: 1px solid black;
    padding: 20px;
}
.border2{
    padding: 20px;
    border: 1px solid black;
}
.border3{
    border: 1px solid black;
    padding: 20px;
}
.border4{
    padding: 20px;
    border: 1px solid black;
}
.border5{
    border: 1px solid black;
    background-color:rgb(12, 120, 134);
    height: 250px;
    text-align: center;
    padding-top: 75px;
}
.border6{
    border: 1px solid black;
    background-color:rgb(214, 211, 21);
    height: 250px;
    text-align: center;
    padding-top: 75px;
}